.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.left{
    flex:1;
    img{
        width:100%;
    }
}

.right{
    flex:1;
    h5{
        color:rgb(226, 84, 84);
    }
    p{
        font-size: 120%;
    }
}

.list{
    color: black;
}

.quantity-selector{
    input{
        width:8%;
    }
}