<!-- <div *ngFor="let item of itemDetails" class="container"> -->

<div class="left">
  <h4>{{ itemDetail.itemName }}</h4>
  <img [src]="'data:image/jpeg;base64,' + itemDetail.imageBase64" alt="Item Image" />
</div>
<div class="right">
  <h5>Price = Rs.{{ itemDetail.itemPrice }}</h5>
  <p>Item Details</p>

  <ul class="list">
    <li>{{ itemDetail.itemType }}</li>
    <li>{{ itemDetail.bookType }}</li>
    <li>{{ itemDetail.pagesCount }}</li>
    <li>{{ itemDetail.bookSize }}</li>
    <li>{{ itemDetail.itemBrand }}</li>
    <li>{{ itemDetail.itemQuantity }}</li>
    <li>Paper type</li>
    <li>Paper quality</li>
  </ul>

  <div class="quantity-selector">
    <label>Quantity</label>
    <br />
    <button (click)="decrease()">−</button>
    <input type="number" [value]="quantity" readonly />
    <button (click)="increase()">+</button>
  </div>
  <br />

  <button mat-raised-button (click)="addToCart()">Add to cart</button>
  <button mat-raised-button routerLink="/orders/checkout">Buy Now</button>
  <!-- </div> -->
</div>
