.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .item-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form-section{
    flex: 1;
    padding: 5px;
    border-right: 1px solid #ccc;
}

.table-section{
    flex: 2;
    max-height: 650px; /* Limit height */
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}