<p>online-ordering works!</p>

<div class="item-container">
  <div *ngFor="let item of items" class="item-card">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{item.itemName}}</mat-card-title>
        </mat-card-header>
        <img [src]="'data:image/jpeg;base64,' + item.imageBase64" alt="Item Image" />
        <mat-card-content>
          <mat-card-title>Price = Rs. {{item.itemPrice}}</mat-card-title>
          <mat-card-subtitle>Quantity available = {{item.itemQuantity}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Add to cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>