<div class="container">
  <div class="form-section">
    <form [formGroup] ="employeeForm" class="example-form" (ngSubmit)="onSubmit()">

      <mat-form-field class="example-full-width">
          <mat-label>Full name</mat-label>
          <input matInput placeholder="Full name" formControlName = "fullName">
          <span class="text-danger" *ngIf="(employeeForm.get('fullName').touched || submitted) && employeeForm.get('fullName').errors && employeeForm.get('fullName').errors['required']">First name is required</span>
          <span class="text-danger" *ngIf="(employeeForm.get('fullName').touched || submitted) && employeeForm.get('fullName').errors && employeeForm.get('fullName').errors['pattern']">Please enter a valid name</span>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Calling Name</mat-label>
          <input matInput placeholder="Calling Name" formControlName = "callingName">
          <span class="text-danger" *ngIf="(employeeForm.get('callingName').touched||submitted) && employeeForm.get('callingName').errors && employeeForm.get('callingName').errors['minlength']">Enter atleast 3 characters</span>
          <span class="text-danger" *ngIf="(employeeForm.get('callingName').touched||submitted) && employeeForm.get('callingName').errors && employeeForm.get('callingName').errors['maxlength']">Enter maximum 15 characters</span>
          <span class="text-danger" *ngIf="(employeeForm.get('callingName').touched||submitted) && employeeForm.get('callingName').errors && employeeForm.get('callingName').errors['pattern']">Enter a valid name</span>
        </mat-form-field> 
  
        <mat-form-field class="example-full-width">
          <mat-label>NIC Number</mat-label>
          <input matInput placeholder="NIC Number" formControlName = "nic">
          <span class="text-danger" *ngIf="(employeeForm.get('nic').touched||submitted) && employeeForm.get('nic').errors && employeeForm.get('nic').errors['pattern']">Enter a valid NIC number</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Enter your Contact Number" formControlName = "contactNo">
          <span class="text-danger" *ngIf="(employeeForm.get('contactNo').touched||submitted) && employeeForm.get('contactNo').errors && employeeForm.get('contactNo').errors['required']">Contact number is required</span>
          <span class="text-danger" *ngIf="(employeeForm.get('contactNo').touched||submitted) && employeeForm.get('contactNo').errors && employeeForm.get('contactNo').errors['pattern']">Enter a valid contact number</span>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Choose your date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName = "bDay">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <span class="text-danger" *ngIf="(employeeForm.get('bDay').touched||submitted) && employeeForm.get('bDay').errors">Enter a valid date of birth</span>
        </mat-form-field>
  
        <div class="radio-button mb-4">
          <mat-label >Choose your gender</mat-label><br>
          <mat-radio-group aria-label="Select an option" formControlName = "gender">          
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName = "address">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Emergency contact Number</mat-label>
          <input matInput placeholder="Emergency contact Number" formControlName = "emergencyContactNumber">
          <span class="text-danger" *ngIf="(employeeForm.get('emergencyContactNumber').touched||submitted) && employeeForm.get('emergencyContactNumber').errors && employeeForm.get('emergencyContactNumber').errors['pattern']">Enter a valid phone number</span>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName = "email">
          <span class="text-danger" *ngIf="(employeeForm.get('email').touched||submitted) && employeeForm.get('email').errors && employeeForm.get('email').errors['pattern']">Enter a valid email</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Job role</mat-label>
          <mat-select formControlName="jobRole">
            <mat-option value="Binder">Binder</mat-option>
            <mat-option value="Cashier">Cashier</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-raised-button class="submit-btn" type="submit" color="primary" [disabled]="isDisabled">{{saveButtonLabel}}</button>
        <button class="reset-btn" type="reset" color="secondary" mat-raised-button (click) = "resetEmployee()">Reset</button>
    </form>
  </div>

  <div class="table-section">
    <div class="filter-section">
      <div class="refresh">
        <button mat-icon-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
  
      <div class="filter">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
      </div>
    </div>

    <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="employeeNumber">
        <th mat-header-cell *matHeaderCellDef> Employee Number </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeNumber}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="callingName">
        <th mat-header-cell *matHeaderCellDef> Calling Name </th>
        <td mat-cell *matCellDef="let element"> {{element.callingName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nic">
        <th mat-header-cell *matHeaderCellDef> NIC number </th>
        <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
      </ng-container>

      <ng-container matColumnDef="contactNo">
        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
        <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
      </ng-container>

      <ng-container matColumnDef="bDay">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.bDay}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="emergencyContactNumber">
        <th mat-header-cell *matHeaderCellDef> Emergency Contact Number </th>
        <td mat-cell *matCellDef="let element"> {{element.emergencyContactNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="jobRole">
        <th mat-header-cell *matHeaderCellDef> Job Role </th>
        <td mat-cell *matCellDef="let element"> {{element.jobRole}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat icon-button color="warm" (click)="editEmployee(element)" matTooltip="edit">
              <mat-icon>edit</mat-icon>
          </button>

          <button mat icon-button color="warm" (click)="deleteEmployee(element)" matTooltip="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
  </div>
</div>

