<div class="form-section">
    <form [formGroup] = "employeeLoginForm"  class="example-form" (ngSubmit) = "onSubmit()" >

      <mat-form-field class="example-full-width">
        <mat-label>Employee Name</mat-label>
        <mat-select>
          @for (employee of employees; track employee) {
            <mat-option [value]="employee.value">{{employee.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput  formControlName = "userName">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput  formControlName = "password">
        </mat-form-field>
        
        <button color="primary" type="submit" class="form-button">Submit</button>
    </form>
  </div>
