<div class="billing-details">
        <mat-dialog-content class="dialog-content">
          <form class="example-form" [formGroup] = "billingDetailsForm" (ngSubmit)="onSubmit()">
            <h5>Billing Details</h5>
            
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput formControlName = "firstName">
              <span class="text-danger" *ngIf="(billingDetailsForm.get('firstName').touched||submitted) && billingDetailsForm.get('firstName').errors && billingDetailsForm.get('firstName').errors['required']">First name is required</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('firstName').touched||submitted) && billingDetailsForm.get('firstName').errors && billingDetailsForm.get('firstName').errors['minlength']">Enter atleast 3 characters</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('firstName').touched||submitted) && billingDetailsForm.get('firstName').errors && billingDetailsForm.get('firstName').errors['maxlength']">Enter maximum 15 characters</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('firstName').touched||submitted) && billingDetailsForm.get('firstName').errors && billingDetailsForm.get('firstName').errors['pattern']">Enter a valid name</span>
            </mat-form-field>

          
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName = "lastName" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('lastName').touched||submitted) && billingDetailsForm.get('lastName').errors && billingDetailsForm.get('lastName').errors['minlength']">Enter atleast 3 characters</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('lastName').touched||submitted) && billingDetailsForm.get('lastName').errors && billingDetailsForm.get('lastName').errors['maxlength']">Enter maximum 15 characters</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('lastName').touched||submitted) && billingDetailsForm.get('lastName').errors && billingDetailsForm.get('lastName').errors['pattern']">Enter a valid name</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput formControlName = "address" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('address').touched||submitted) && billingDetailsForm.get('address').errors && billingDetailsForm.get('address').errors['required']">Address is required</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('address').touched||submitted) && billingDetailsForm.get('address').errors && billingDetailsForm.get('address').errors['minlength']">Enter atleast 5 characters</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('address').touched||submitted) && billingDetailsForm.get('address').errors && billingDetailsForm.get('address').errors['maxlength']">Enter maximum 100 characters</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>District</mat-label>
              <input matInput formControlName = "district" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('district').touched||submitted) && billingDetailsForm.get('district').errors && billingDetailsForm.get('district').errors['required']">District is required</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('district').touched||submitted) && billingDetailsForm.get('district').errors && billingDetailsForm.get('district').errors['pattern']">Enter a valid district</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Nearest city/Town</mat-label>
              <input matInput formControlName = "nearestCity" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('nearestCity').touched||submitted) && billingDetailsForm.get('nearestCity').errors && billingDetailsForm.get('nearestCity').errors['pattern']">Enter a valid city</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName = "postalCode" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('postalCode').touched||submitted) && billingDetailsForm.get('postalCode').errors && billingDetailsForm.get('postalCode').errors['required']">Postal code is required</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('postalCode').touched||submitted) && billingDetailsForm.get('postalCode').errors && billingDetailsForm.get('postalCode').errors['pattern']">Enter a valid postal code</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Phone number</mat-label>
              <input matInput formControlName = "contactNo" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('contactNo').touched||submitted) && billingDetailsForm.get('contactNo').errors && billingDetailsForm.get('contactNo').errors['required']">Contact number is required</span>
              <span class="text-danger" *ngIf="(billingDetailsForm.get('contactNo').touched||submitted) && billingDetailsForm.get('contactNo').errors && billingDetailsForm.get('contactNo').errors['pattern']">Enter a valid Contact Number</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName = "email" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('email').touched||submitted) && billingDetailsForm.get('email').errors && billingDetailsForm.get('email').errors['pattern']">Enter a valid email</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Order Notes(Optional)</mat-label>
              <input matInput formControlName = "notes" >
              <span class="text-danger" *ngIf="(billingDetailsForm.get('notes').touched||submitted) && billingDetailsForm.get('notes').errors && billingDetailsForm.get('notes').errors['maxlength']">Enter maximum 500 characters</span>
            </mat-form-field>

        <mat-dialog-actions>
          <button class="btn btn-primary submit-btn" type="submit">Submit</button>
          <button class="btn btn-primary submit-btn" (click)="onCancel()">Cancel</button>
        </mat-dialog-actions>

        </form>
        </mat-dialog-content>
    </div>
