@media print {
  body * {
    visibility: hidden;
  }

  #invoice, #invoice * {
    visibility: visible;
  }

  #invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    color: black;
  }

  mat-card-actions {
    display: none !important;
  }
}