/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/custom';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pcoded-content {
    background-color: #F4D793;

}

.btn-primary {
  background-color: #0056b3; /* darker blue */
  border-color: #004494;
}

.btn-success {
  background-color: #117a65; /* darker green */
  border-color: #0e6655;
}

.btn-danger {
  background-color: #c82333; /* darker red */
  border-color: #bd2130;
}

.btn-warning {
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-info {
  background-color: #117a8b;
  border-color: #0f6674;
}

.btn-secondary {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-dark {
  background-color: #1d2124;
  border-color: #171a1d;
}



